-
	var list = [

		{	name: 'О нас',
			url: 'javascript:void(0)'
		},
		
		{	name: 'Аренда',
			url: '/catalog/'
		},
		
		{	name: 'Услуги',
			url: 'javascript:void(0);'
		},
		
		{	name: 'Фото',
			url: '/gallery/'
		},
		
		{	name: 'Контакты',
			url: 'javascript:void(0);'
		}
		
	];


mixin navItem(url, name)
	li.main-menu__item
		a.main-menu__link(href=url)= name


nav.main-menu
	ul.main-menu__list
		each i in list
			+navItem(i.url, i.name)
