-
	var list = [

		{	name: 'О нас',
			url: path + 'about/'
		},
		
		{	name: 'Аренда',
			url: path + 'catalog/'
		},
		
		// {	name: 'Услуги',
		// 	url: 'javascript:void(0);'
		// },
		
		{	name: 'Фото',
			url: path + 'gallery/'
		},
		
		{	name: 'Контакты',
			url: path + 'contacts/'
		}
		
	];


mixin navItem(url, name)
	li.main-menu__item
		a.main-menu__link(href=url)= name


nav.main-menu
	ul.main-menu__list
		each i in list
			+navItem(i.url, i.name)
