.main-menu

	&__list
		margin 0
		padding 0

		list-style none
	
	&__item
		line-height 0
		text-align center
		
		border-bottom 1px solid lighten($navBgColorTop, 3%)
		
		&:first-child
			border-top 1px solid lighten($navBgColorTop, 3%)

	&__link
		display block
		padding 10px 0 10px 0

		font-size 1.62rem
		line-height 1.25
		
		text-decoration none
		color $secondColor