$color-main-menu__item-border = lighten($color-secondary, 3%)
$color-main-menu__link = $color-brand
$color-main-menu__link-hover = $color-default

.main-menu

	&__list
		list-style none
	
	&__item
		line-height 0
		text-align center
	
		border-bottom 1px solid $color-main-menu__item-border
		
		&:first-chil
			border-top 1px solid $color-main-menu__item-border
		
		+above('media-m')
			display inline-block
			
			text-transform uppercase
			
			border none

	&__link
		display block
		padding 10px 0

		font-size $font-size-xxs
		line-height $line-height-default-x
		
		text-decoration none
		color $color-main-menu__link
		
		+above('media-m')
			padding 15px 10px

			&:hover
				color $color-main-menu__link-hover
			
			&:active
				color $color-main-menu__link
		
		+above('media-xxl')
			font-size $font-size-s
		
		&_active
			color $color-main-menu__link-hover

	&__item:first-child &__link
		padding-left 0

	