.page-main
	padding-top 55px
	padding-bottom 85px
	
	&__title
		padding 0
		margin 0
		margin-bottom 16px

		font-size 28px
		line-height 1.25
		font-weight 400
		text-align center
	
	&__subtitle
		width 80%
		padding 0
		margin 0 auto
		margin-bottom 58px

		font-size 16.28px
		line-height 1.25
		font-weight 400
		letter-spacing 0.15em
		text-align center
	
	&__banner
		margin-bottom 100px
		
		color $secondColor
		text-align center
	
	&__banner-text
		padding 0
		margin 0
		margin-bottom 14px
		
		font-size 16.2px
		line-height 1.25
		text-transform uppercase

	&__banner-link
		font-size 13.5px
		line-height 1.25
		
		color $mainColor
	
	&__text
		padding 56px 0
		background $textBgColor
	
	&__advantages
		padding 40px 0 0 0
		margin-bottom 60px
	
	&__advantages-title-wrap
		margin-bottom 20px
	
	&__advantages-title
		font-size 23.33px
		line-height 1.8
		text-align center

		color $secondColor
	
	&__feedback-title
		margin-bottom 15px
		
		font-size 23.33px
		line-height 1.25
		text-align center
		
		color $secondColor
	
	&__feedback-subtitle
		margin-bottom 15px
		
		font-size 13.5px
		line-height 1.25
		text-align center
		
		color $mainColor
		
