$search-form__input-color = $gray-dark

.search-form
	position relative
	
	&__input
		box-sizing border-box
		width 100%
		height 30px
		padding 3px 30px 3px 15px

		font-family inherit
		font-size $font-size-xxs
		
		color #fff
		background $search-form__input-color
		border none
		border-radius 25px
		outline none
	
	&__submit
		position absolute
		top 50%
		right 3px
		
		width 30px
		height 30px
		margin 0
		padding 5px
		
		background none
		border none
		
		transform translateY(-50%)
		
		cursor pointer
		
		