$icon-width = 3px
$icon-color = $gray-light

.search-switcher
	position relative
	
	width 100%
	height 100%
	padding 0
	margin 0
	z-index 1
	
	border 0
	background none
	
	cursor pointer

	&::before
		content ''
		position absolute
		top 25%
		right 12%
		
		width 34%
		height 34%
		
		border $icon-width solid $icon-color
		border-radius 50%
		
	&::after
		content ''
		position absolute
		
		right 0
		bottom 36%
		
		width 22%
		height $icon-width
		
		background $icon-color
		
		transform rotate(45deg)
	
	&_opend
		&::before,
		&::after
			content ''
			position absolute
			top 50%
			right 0
			
			width 40%
			height $icon-width
			
			background $icon-color
			border none
			border-radius 0
		
		&::before
			transform translateY(-50%) rotate(45deg)
		
		&::after
			transform translateY(-50%) rotate(-45deg)