extends ../../templates/default/template.pug

block head
	- var path = '../';
	- var pageTitle = 'Аренда помещений';
	- var pageDescription = 'Аренда помещений под различные нужды';

block content
	main.content
		.content__item
			.container
				.title-container
					h1.title-container__item.title Аренда помещений
					p.subtitle Выберите категорию

				ul.cards
					li.cards__item.cards__item_link
						a(href= path + 'catalog/offices/').card-content
							.card-content__title Офисы свободной планировки
					
					li.cards__item.cards__item_link
						a(href= path + 'catalog/parking/').card-content
							.card-content__title Машино-места
					
					li.cards__item.cards__item_link
						a(href= path + 'catalog/exhibition/').card-content
							.card-content__title Помещения под проведение выставок

					
					//- li.cards__item.cards__item_link
					//- 	a(href='javascript:void(0)').card-content
					//- 		.card-content__title Подсобные помещения
					
					//- li.cards__item.cards__item_link
					//- 	a(href='javascript:void(0)').card-content
					//- 		.card-content__title Под кафе
					
					//- li.cards__item.cards__item_link
					//- 	a(href='javascript:void(0)').card-content
					//- 		.card-content__title Под досуговый центр
					
					//- li.cards__item.cards__item_link
					//- 	a(href='javascript:void(0)').card-content
					//- 		.card-content__title Под досуговый центр

					//- li.cards__item.cards__item_link
					//- 	a(href='javascript:void(0)').card-content
					//- 		.card-content__title Под съемки фильмов и видеоклипов

		//- .content__item.text-container
			.container
				p.text Бизнес-центр &laquo;Алексеевская Башня&raquo;&nbsp;&mdash; новое офисное здание класса &laquo;В+&raquo; общей площадью 41&nbsp;380&nbsp;м2, расположенное в&nbsp;Северо-Восточном округе Москвы. Значительная часть здания представляет собой &laquo;сегмент круга&raquo; и&nbsp;имеет панорамные окна, открывающие восхитительный вид на&nbsp;Всероссийский Выставочный Центр.

				p.text Останкинскую башню, гостиницу &laquo;Космос&raquo;. Надземная часть здания представляет собой композицию из&nbsp;башни, расположенной на&nbsp;3-х этажном стилобате. Этажность здания&nbsp;&mdash; 18&nbsp;надземных этажей и&nbsp;4&nbsp;подземных этажа.
