ul.advantages
	li.advantages__item Более 40 000 м2 сдаваемых площадей
	li.advantages__item Развитая инфраструктура
	li.advantages__item Три этажа подземного паркинга
	li.advantages__item Расположен в самом «сердце» столицы
	li.advantages__item Свободная планировка помещений
	li.advantages__item Безопасная пропускная система