.card-content
	&__title
		font-size $font-size-xs
		line-height $line-height-default5
		letter-spacing 0.5px
		text-align left

		+above('media-m')			
			font-size $font-size-s

		+above('media-l')
			text-align center

		+above('media-xxl')
			font-size $font-size-m