$color-card-content = $color-default

.card-content
	display block
	width 100%
	height 100%
	padding $space-s
	
	text-decoration none
	
	color $color-card-content
	
	&__title
		font-size $font-size-xs
		line-height $line-height-default-x
		letter-spacing 0.5px
		text-align left

		+above('media-m')			
			font-size $font-size-s

		+above('media-l')
			text-align center

