$color-slogan = $color-default

.slogan
	width 80%
	margin 0 auto
	
	text-align center
	letter-spacing 0.15em

	font-size $font-size-xxs
	
	color $color-slogan
	
	+above('media-m')
		font-size $font-size-xs

	+above('media-l')
		font-size $font-size-m

	+above('media-xxl')
		font-size $font-size-l