.subtitle	
	font-size $font-size-xxxs
	line-height $line-height-default5
	font-weight 400
	
	+above('media-m')
		font-size $font-size-xs

	+above('media-l')
		font-size $font-size-s

	+above('media-xxl')
		font-size $font-size-m
	
