extends ../templates/default/template.pug

block head
	- var path = '';
	- var pageTitle = 'Главная страница';
	- var pageDescription = 'Описание главной страницы';

block content
	main.content
		.content__item
			.container
				.title-container
					h1.title-container__item.title.title_size_big.title_color_white Константиновский<br>многофункциональный комплекс				
					p.slogan Аренда помещений свободной планировки

		.content__item
			.container
				include ../../blocks/banner/banner.pug

		.content__item.text-container
			.container
				p.text Многофункциональный комплекс &laquo;Константиновский&raquo;- это красивое, крупное пятиэтажное здание с&nbsp;двумя подземными этажами. Общая площадь объекта, включая эксплуатируемую кровлю: 20 000м2. Облицованный плиткой фасад выглядит стильно и&nbsp;аккуратно. Спокойная цветовая гамма, интересная конфигурация здания, ровные ряды окон способствуют формированию образа респектабельного делового объекта.

		.content__item
			.container
				.title-container
					h2.title Наши преимущества
				ul.cards
					li.cards__item.card-content
						.card-content__title Более 40&nbsp;000&nbsp;м<sup>2</sup> сдаваемых площадей
					li.cards__item.card-content
						.card-content__title Развитая инфраструктура
					li.cards__item.card-content
						.card-content__title Три этажа подземного паркинга
					li.cards__item.card-content
						.card-content__title Расположен в&nbsp;самом &laquo;сердце&raquo; столицы
					li.cards__item.card-content
						.card-content__title Свободная планировка помещений
					li.cards__item.card-content
						.card-content__title Безопасная пропускная система
