$search-icon-width = 3px
$search-icon-color = $gray-light

.search-icon
	position relative
	
	display block
	width 100%
	height 100%

	&::before
		content ''
		position absolute
		top 0
		left 0
		
		width 75%
		height 75%
		
		border $search-icon-width solid $search-icon-color
		border-radius 50%
			
	&::after
		content ''
		position absolute
		
		right 0
		bottom 14%
		
		width 46%
		height $search-icon-width
		
		background $search-icon-color
		
		transform rotate(45deg)
			