.title-container
	margin-bottom $space-xs
	text-align center
	
	+above('media-m')
		margin-bottom $space-s
	
	.title-container__item
		margin-bottom $space-xxxxs

		+above('media-m')
			margin-bottom $space-xxs