.product-properties
	list-style none
	
	&__item
		margin-bottom $space-xxxs
		
		+above('media-l')
			margin-bottom $space-xxs
		
	&__property
		margin-right $space-xxxxs * 0.8
		
		+above('media-m')
			margin-right $space-xxxxs