$color-button = rgba($gray-dark, 0.7)
$color-button-hover = $color-brand

.button
	padding 0.5em 1.5em
	
	font inherit
	font-size $font-size-xxxs
	line-height $line-height-default-x
	text-decoration none
	text-transform uppercase
	
	color inherit
	border none
	border-radius 50px
	background $color-button
	
	cursor pointer

	+above('media-m')
		font-size $font-size-xs
	
	+above('media-l')
		font-size $font-size-s
	
	+above('media-xxl')
		font-size $font-size-m

	
	&:hover
		box-shadow $box-shadow-hover
	
	&:active
		box-shadow none
