@font-face
	font-family 'Roboto Condensed'
	src url('../assets/fonts/RobotoCondensed/RobotoCondensedRegular.woff2') format('woff2'),
			url('../assets/fonts/RobotoCondensed/RobotoCondensedRegular.woff') format('woff'),
			url('../assets/fonts/RobotoCondensed/RobotoCondensedRegular.ttf') format('truetype')
	font-style normal
	font-weight normal

@font-face
	font-family 'Roboto Condensed'
	src url('../assets/fonts/RobotoCondensed/RobotoCondensedBold.woff2') format('woff2'),
			url('../assets/fonts/RobotoCondensed/RobotoCondensedBold.woff') format('woff'),
			url('../assets/fonts/RobotoCondensed/RobotoCondensedBold.ttf') format('truetype')
	font-style normal
	font-weight 700

