$pathToTemplateImages = '../assets/img/template/'

$mainColor = #fff
$secondColor = #fcec69
$darkColor = #2f2f2f
$textBgColor = #d7d9dc
$gray = #858589
$advantagesItemBg = #575962
$navBgColorTop = #0f1726
$navBgColorBottom = #000