$pathToTemplateImages = '../assets/img/template/'
$fieldsOfMainContainer = 4.6875%
$maxWidthOfMainContainer = 1200px

/*-------------------------------------*/

// COLORS

$white = #fff
$black = #000
$corn = #fcec69
$deep-blue = #0f1726

$gray = #575962
$gray-light = lighten($gray, 30%)
$gray-dark = darken($gray, 30%)

$color-brand = $corn
$color-default = $white
$color-primary = $black
$color-secondary = $deep-blue

$color-light-background = lighten($deep-blue, 95%)


/*-------------------------------------*/

// FONTS

$font-family = 'Roboto Condensed', Arial, 'Helvetica CY', sans-serif

$line-height-default = 1.2
$line-height-default-x = 1.25
$line-height-default-xx = 1.23

// bases 13.5px, ratio 1.2

$font-size-xxxxl = 6.9657rem
$font-size-xxxl = 5.8048rem
$font-size-xxl = 4.8373rem
$font-size-xl = 4.0311rem
$font-size-l = 3.3592rem
$font-size-m = 2.7994rem
$font-size-s = 2.3328rem
$font-size-xs = 1.944rem
$font-size-xxs = 1.62rem
$font-size-xxxs = 1.35rem


/*-------------------------------------*/

// SPACING
// bases 10px, ratio 1.3

$space-xxxxl = 137.858px
$space-xxxl = 106.045px
$space-xxl = 81.573px
$space-xl = 62.749px
$space-l = 48.268px
$space-m = 37.129px
$space-s = 28.561px
$space-xs = 21.97px
$space-xxs = 16.9px
$space-xxxs = 13px
$space-xxxxs = 10px


/*-------------------------------------*/

// ANIMATION

$box-shadow-hover = 0 0 0 1px $color-brand
$scale-hover-default = 1.04
$transition-default = 0.3s














