extends ../../templates/default/template.pug

block head
	- var path = '../';
	- var pageTitle = 'О нас';
	- var pageDescription = 'Информация о нашей компании';

block content
	main.content
		.content__item
			.container
				.title-container
					h1.title-container__item.title О компании

		.content__item.text-container
			.container
				p.text Многофункциональный комплекс &laquo;Константиновский&raquo;- это красивое, крупное пятиэтажное здание с&nbsp;двумя подземными этажами. Общая площадь объекта, включая эксплуатируемую кровлю: 20 000м2. Облицованный плиткой фасад выглядит стильно и&nbsp;аккуратно. Спокойная цветовая гамма, интересная конфигурация здания, ровные ряды окон способствуют формированию образа респектабельного делового объекта.