$color-order-form__submit = $color-default

.order-form
	text-align center

	&__user-data-inputs
		+above('media-l')
			row-flex()

	&__input
		margin-bottom $space-xxs
		
		&_user-data
			+above('media-l')
				col()
				size(4)

		&_user-message
			min-height 165.4296px
			margin-bottom xxxs
			
			+above('media-m')
				margin-bottom $space-xxs
			
			+above('media-l')
				margin-bottom $space-xs
			
			+above('media-xxl')
				margin-bottom $space-s
		
	&__submit
		color $color-order-form__submit












