//- blueimp Gallery JS 2.14.0
//- https://github.com/blueimp/Gallery

//- The Gallery as lightbox dialog, should be a child element of the document body
#blueimp-gallery.blueimp-gallery.blueimp-gallery-controls
	.slides
	a.prev ‹
	a.next ›
	a.close ×
	