form.feedback-form(method='' action='javascript:void(0)' name='feedback')
	.feedback-form__user-data-inputs
		input.input.feedback-form__input.feedback-form__input_user-data(type='text' placeholder='Имя' name='name')
		input.input.feedback-form__input.feedback-form__input_user-data(type='tel' placeholder='Телефон' name='tel')
		input.input.feedback-form__input.feedback-form__input_user-data(type='email' placeholder='E-Mail' name='email')
	textarea.input.feedback-form__input.feedback-form__input_user-message(placeholder='Текст сообщения' name='text')
	button.feedback-form__submit.button(type='submit' name='submit') отправить
