mixin yandex-map
	<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A1c9e21eff5fce6e116f77a1d738b50a5e0b56b28eb8d9b87506fcf157846a0aa&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;scroll=true"></script>