form.feedback(method='' action='javascript:void(0)' name='feedback')
	input.feedback__input(type='text' placeholder='Имя' name='name')
	input.feedback__input(type='tel' placeholder='Телефон' name='tel')
	input.feedback__input(type='email' placeholder='E-Mail' name='email')
	textarea.feedback__input.feedback__input_big(placeholder='Текст сообщения' name='text')
	button.feedback__submit.button(type='submit' name='submit') отправить