$color-cards = rgba($gray, 0.7)

.cards
	row-flex()
	list-style none

	&__item
		display block
		col()
		size(12)
		min-height 92px
		margin-bottom $space-xxxs
		
		background $color-cards
		
		+above('media-m')
			size(6)
			margin-bottom $space-xxs

		+above('media-l')
			size(4)
			min-height 116px
		
		&_link
			&:hover
				box-shadow $box-shadow-hover
				transform scale($scale-hover-default)
				transition transform $transition-default
			
			&:active
				box-shadow none























