.header
	&__nav
		background linear-gradient($navBgColorTop, $navBgColorBottom)
		margin-bottom 40px
	
	&__logo
		width 155px
		height 70px
		margin 0 auto
		margin-bottom 45px
	
	&__contacts
		color $secondColor
		text-align center
	
	&__tel
		font-size 23.33px
		line-height 1.25
	
	&__address
		font-size 16.2px
		line-height 19.2px
