header.header
	.header__nav
		include ../main-nav/main-nav.pug

	.container
		.header__logo
			include ../logo/logo.pug

		.header__contacts
			.header__tel
				include ../tel/tel.pug
			.header__address
				include ../address/address.pug