extends ../../templates/default/template.pug

block head
	- var path = '../';
	- var pageTitle = 'Аренда помещений';
	- var pageDescription = 'Аренда помещений под различные нужды';

block content
	main
		.container
			h1 Офисы свободной планировки