.gallery
	row-flex()
	width 100%
	margin 0
	
	list-style none
	
	&__item
		col()
		size(4)
		margin-bottom $space-xxs
		overflow hidden
		box-shadow 0 0 0 1px $color-default
		
		&:hover
			transform scale($scale-hover-default)
			transition $transition-default
		
		+above('media-m')
			size(3)
	
	&__link
		display block
		position relative
		padding-top 75%
		
	&__pic
		position absolute
		top 0
		left 0
		
		width 100%
		height 100%

		background $gray-dark