$color-footer = $color-primary
$color-footer__tel = $color-brand
$color-footer__address = $color-default

.footer
	margin-top $space-xxl
	padding-top $space-l
	padding-bottom $space-xxs
	
	text-align center
	
	background $color-footer
	
	+above('media-m')
		margin-top $space-xxxl
		padding-top $space-xl

	+above('media-xxl')
		margin-top $space-xxxxl
	
	&__contacts
		margin-bottom $space-xl

	&__contacts-item
		margin-bottom $space-xxxxs
	
	&__copyright
		font-size $font-size-xxxs
		line-height $line-height-default5
		
		color #555

		+above('media-xxl')
			font-size $font-size-xxs
		
		