.footer
	padding 52px 0 20px 0
	
	font-size 16.2px
	line-height 1.25
	text-align center
	
	background #000
	
	&__contacts
		margin-bottom 74px

	&__contacts-item
		margin-bottom 12px
		
		&_tel
			color $secondColor
		
		&_address
			color $mainColor
	
	&__copyright
		font-size 13.5px
		line-height 1.25
		color #555
		