footer.footer
	.container
		.footer__contacts.contacts-list
			.footer__contacts-item.contacts-list__item
				include ../tel-num/tel-num.pug
			.footer__contacts-item.contacts-list__item.contacts-list__item_color_white
				include ../address/address.pug
			//- .footer__contacts-item.contacts-list__item.contacts-list__item_color_white
				include ../mail/mail.pug
		
		.footer__copyright
			span copyright 2018 - все права защищены


