footer.footer
	.container
		.footer__contacts
			.footer__contacts-item.footer__contacts-item_tel
				include ../tel/tel.pug
			.footer__contacts-item.footer__contacts-item_address
				include ../address/address.pug
			.footer__contacts-item
				include ../mail/mail.pug
		
		.footer__copyright
			span copyright 2017 - все права защищены


