$color-text = $color-secondary

.text
	margin-bottom 6%
	
	font-size $font-size-xxs
	line-height $line-height-default-x
	
	color $color-text

	+above('media-m')
		margin-bottom 2%
	
	+above('media-l')
		font-size $font-size-xs
	
	+above('media-xxl')
		font-size $font-size-s