include ../../../blocks/svg-icons/svg-icons.pug
include ../../../blocks/scripts/scripts.pug

doctype html
html(lang='ru')
	include ../../../blocks/head/head.pug
	body.body.no-js
		include ../../../blocks/header/header.pug
		block content

		.container.feedback-section
			.title-container
				p.title-container__item.title Отправьте заявку на&nbsp;консультацию
				p.subtitle Менеджеры оперативно свяжуться<br>с Вами в рабочее время
			include ../../../blocks/feedback-form/feedback-form.pug
		
		include ../../../blocks/footer/footer.pug
		include ../../../blocks/map/map.pug
		script(src= path + 'scripts/main.min.js')
		
