$color-text-container = $color-light-background

.text-container
	padding $space-l 0
	background $color-text-container
	
	+above('media-m')
		padding $space-xl 0
	
	+above('media-xxl')
		padding $space-xxl 0